* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: #000;
  transform-style: preserve-3d;
}
.container {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 1200px;
  height: 100vh;
  padding-top: 150px;
  margin: auto;
  -webkit-mask: linear-gradient(90deg, transparent, #000 30%, #000 70%, transparent);
  -webkit-mask-image: linear-gradient(90deg, transparent, #000 30%, #000 70%, transparent);
  mask: linear-gradient(90deg, transparent, #000 30%, #000 70%, transparent);
  transform-style: preserve-3d;
}
.box {
  position: relative;
  width: 200px;
  height: 270px;
  transition: 1.5s;
  transform-style: preserve-3d;
  transform: perspective(1500px) rotateY(0deg) rotateX(2deg);
  animation: rotateY 20s linear infinite;
}
.box span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  border-radius: 0 0 100vw 100vw;
  transform: rotateY(calc(var(--i) * 45deg));
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(512px);
  -webkit-box-reflect: below 0px linear-gradient(transparent 35%, #0004);
  overflow: clip;
}
.box span img {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  object-fit: cover;
  user-select: none;
  border-radius: 99999px;
  transition: 0.5s;
}

.box span:hover > .items {
  scale: 1.4;
  transform: translateY(-25px);
}

@keyframes rotateY {
  0% {
    transform: perspective(1200px) rotateY(0deg) rotateX(2deg);
  }
  100% {
    transform: perspective(1200px) rotateY(-360deg) rotateX(2deg);
  }
}
